<h1><%= "(admin)" if current_user&.admin? %> <%= @user.username %>'s Profile</h1>

<%= gravatar_for @user, size: 200 %>


<% if logged_in? && (current_user == @user || current_user.admin?) %>
  <p> 
    <%= link_to "Edit Profile", edit_user_path(@user) %> | 
    <%= link_to "Delete Profile", user_path(current_user), method: :delete, data: {confirm: "Are you sure ?"} %> |
    <%= link_to "Sign Out", logout_path, method: :delete %>
  </p>
<% end %>

<h1><%= link_to "Articles", articles_path %></h1>

<%= render 'articles/article' %>
